.subgoalCardsContainer {
  position: relative;
  padding: 2.08333vw 0.00000vw 7.29167vw 0.00000vw;
  margin-bottom: 3.12500vw;
  grid-column: 4 / -4;

  display: grid;
  grid-auto-rows: 15.62500vw;
  grid-template-columns: repeat(18, 1fr);
  gap: 1.56250vw;
}


.subgoalCardsContainer > .goal_6.i_0 {
  grid-column: span 6;
}
.subgoalCardsContainer > .goal_6.i_1 {
  grid-column: span 12;
}
.subgoalCardsContainer > .goal_6.i_2 {
  grid-column: span 6;
}
.subgoalCardsContainer > .goal_6.i_3 {
  grid-column: span 12;
}


.subgoalCardsContainer > .goal_9.i_0 {
  grid-column: span 6;
}
.subgoalCardsContainer > .goal_9.i_1 {
  grid-column: span 6;
}
.subgoalCardsContainer > .goal_9.i_2 {
  grid-column: span 6;
}
.subgoalCardsContainer > .goal_9.i_3 {
  grid-column: span 11;
}
.subgoalCardsContainer > .goal_9.i_4 {
  grid-column: span 7;
}
.subgoalCardsContainer > .goal_9.i_5 {
  grid-column: span 7;
}
.subgoalCardsContainer > .goal_9.i_6 {
  grid-column: span 11;
}
.subgoalCardsContainer > .goal_9.i_7 {
  grid-column: span 7;
}
.subgoalCardsContainer > .goal_9.i_8 {
  grid-column: span 11;
}
.subgoalCardsContainer > .goal_9.i_9 {
  grid-column: span 8;
}
.subgoalCardsContainer > .goal_9.i_10 {
  grid-column: span 10;
}
.subgoalCardsContainer > .goal_9.i_11 {
  grid-column: span 6;
}
.subgoalCardsContainer > .goal_9.i_12 {
  grid-column: span 12;
}
.subgoalCardsContainer > .goal_9.i_13 {
  grid-column: span 8;
}
.subgoalCardsContainer > .goal_9.i_14 {
  grid-column: span 10;
  grid-row: span 2;
}
.subgoalCardsContainer > .goal_9.i_15 {
  grid-column: span 8;
}


.subgoalCardsContainer > .goal_11.i_0 {
  grid-column: span 6;
}
.subgoalCardsContainer > .goal_11.i_1 {
  grid-column: span 6;
}
.subgoalCardsContainer > .goal_11.i_2 {
  grid-column: span 6;
}
.subgoalCardsContainer > .goal_11.i_3 {
  grid-column: span 9;
}
.subgoalCardsContainer > .goal_11.i_4 {
  grid-column: span 9;
}
.subgoalCardsContainer > .goal_11.i_5 {
  grid-column: span 4;
}
.subgoalCardsContainer > .goal_11.i_6 {
  grid-column: span 8;
}
.subgoalCardsContainer > .goal_11.i_7 {
  grid-column: span 6;
}


.subgoalCardsContainer > .goal_17.i_0 {
  grid-column: span 6;
}
.subgoalCardsContainer > .goal_17.i_1 {
  grid-column: span 12;
}
.subgoalCardsContainer > .goal_17.i_2 {
  grid-column: span 9;
}
.subgoalCardsContainer > .goal_17.i_3 {
  grid-column: span 9;
}
.subgoalCardsContainer > .goal_17.i_4 {
  grid-column: span 6;
}
.subgoalCardsContainer > .goal_17.i_5 {
  grid-column: span 6;
}
.subgoalCardsContainer > .goal_17.i_6 {
  grid-column: span 6;
}
.subgoalCardsContainer > .goal_17.i_7 {
  grid-column: span 9;
}
.subgoalCardsContainer > .goal_17.i_8 {
  grid-column: span 9;
}