.mainFrame {
  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.contentColumn {
  padding: 20px;
  grid-column: 2 / 4;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.goalCardsContainer {
  flex-grow: 1;
  padding: 25px 0;

  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 25px;
}

.mainTitle {
  font-family: RobotoBlack, var(--roboto-fallback);
  color: var(--text-headers-blue);
  font-size: 32px;
  line-height: 110%;
  text-align: center;
  margin-bottom: 3px;
}