/* .mainFrame {
  flex-grow: 1;
  padding: 100px 100px;

  display: grid;
  grid-template: 10fr 9fr 10fr 9fr / 1fr 1fr 6fr 1fr 1fr;
  gap: 20px 0px;

  justify-items: stretch;
  align-items: stretch;
}

@media screen and (min-width: 1500px) {
  .mainFrame {
    padding: 100px 300px;
    grid-template: 1fr 1fr / 10fr 1fr 10fr;
    gap: 20px 20px;
  }
} */

.mainFrame {
  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.contentColumn {
  padding: 20px;
  grid-column: 2 / 4;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.goalCardsContainer {
  flex-grow: 1;
  padding: 25px 0;

  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 25px;
}

.mainTitle {
  font-family: var(--roboto-font);
  color: var(--text-headers-blue);
  font-size: 32px;
  line-height: 110%;
  text-align: center;
}