.awardCard {
    border-style: dashed;
    border-width: 0.05208vw;
    padding: 1.40625vw 1.66667vw;

    display: flex;
    flex-direction: column;
}

.awardCard > .header {
    display: flex;
    align-items: center;
}

.awardList {
    margin-top: 1.04167vw;
    list-style: none;
    font-family: RobotoBold;
    font-size: 1.30208vw;
    color: var(--text-headers-blue);
}

.awardList > li {
    margin-bottom: 0.52083vw;
}

.awardsYear {
    color: var(--text-orange);
    font-family: InterSemiBold;
    font-size: 2.08333vw;
}
