.modalBackground {
    margin-top: 1.04167vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalQRCode {
    background-color: white;
    width: 20.83333vw;
    height: 18.22917vw;
    border-radius: 0.52083vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modalQRCode > img {
    width: 18.22917vw;
}

.hintQRCode {
    font-family: RobotoBold;
    font-size: 1.82292vw;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hintQRCode > img {
    margin: 0.78125vw;
    width: 5.20833vw;
}

.expandButton {
    margin-top: 0.52083vw;
    font-family: RobotoMedium;
    font-size: 1.40625vw;
    text-decoration: dashed underline;
    color: var(--text-headers-blue);
}