.modalBackground {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalQRCode {
    background-color: white;
    width: 400px;
    height: 350px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hintQRCode {
    font-family: RobotoBold;
    font-size: 35px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hintQRCode > img {
    margin: 15px;
    width: 100px;
}

.expandButton {
    margin-top: 10px;
    font-family: RobotoMedium;
    font-size: 27px;
    text-decoration: dashed underline;
    color: var(--text-headers-blue);
}