.goalCard#goal_6 {
  background-color: var(--goal-6-color);
  grid-area: 1 / 1 / 2 / 2;
}

.goalCard#goal_9 {
  background-color: var(--goal-9-color);
  grid-area: 1 / 2 / 2 / 3;
}

.goalCard#goal_11 {
  background-color: var(--goal-11-color);
  grid-area: 2 / 1 / 3 / 2;
}

.goalCard#goal_17 {
  background-color: var(--goal-17-color);
  grid-area: 2 / 2 / 3 / 3;
}

.goalCard {
  font-family: RobotoBold, var(--roboto-fallback);
  color: white;
  font-size: 32px;
  line-height: 110%;

  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 30px;
}

.cardNameContainer {
  grid-row: 1 / 2;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.cardImgContainer {
  grid-row: 2 / 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.goalCard img {
  filter: invert(1);

  position: absolute;
  height: 8rem;
}

.goalNumber {
  font-family: InterSemiBold;
  font-size: 96px;
  line-height: 90%;
  margin-right: 35px;
}


