.navButton {
    border-style: solid;
    border-width: 0.05208vw;
    border-color: var(--text-headers-blue);
    color: var(--text-headers-blue);
    font-family: RobotoMedium;
    font-size: 1.04167vw;
    padding: 1.30208vw;
    padding-left: 2.60417vw;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navButtonText {
    margin-right: 0.67708vw;
}

.navButton > a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.navButton > img {
    width: 1.66667vw;
}