* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: RobotoMedium;
  src: url(/src/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(/src/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: RobotoBlack;
  src: url(/src/fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: InterSemiBold;
  src: url(/src/fonts/Inter/static/Inter-SemiBold.ttf);
}

@font-face {
  font-family: InterMedium;
  src: url(/src/fonts/Inter/static/Inter-Medium.ttf);
}

:root {
  font-family: RobotoBold, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --goal-6-color: #28bce4;
  --goal-9-color: #ff6c24;
  --goal-11-color: #ff9c24;
  --goal-17-color: #204c6c;

  --text-headers-blue: #204C6C;

  --roboto-fallback: 'Oswald', sans-serif;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: black;
  text-decoration: inherit;
}